/*
Created on: Friday December 17th of January 2020

Author: Daniel Cortild (https://github.com/DanielCortild)

TicTacToe CSS
*/

body{
    background:#0d3d56;
    color: white;
    font-family:Trebuchet MS;
  }

#outer{
  width:40%;
  margin-top:50px;
}

#game{
  border-style:none;
  height:300px;
  width:300px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;

  background-color: black;

  opacity: 0;
}

.container{
  text-align: center;
}

.row{
  height:100px;
}

.squares{
  border-style:solid;
  height:110px;

  font-size:70px;
  background:#d3b53d;
}
.squares:hover{
  background: #bca136;
}
#c1{
  border-top-left-radius: 10px;
}
#c3{
  border-top-right-radius: 10px;
}
#c7{
  border-bottom-left-radius: 10px;
}
#c9{
  border-bottom-right-radius: 10px;
}

#result{
  padding-top:30px;
  font-size:30px;
}

#chooser{
  padding-top:20px;
  display: inline-block;
  margin-left: auto;
  margin-right:auto;

}

#mainTitle{
  font-family:Trebuchet MS;
  font-size:50px;
}

.btn{
  background: #d3b53d;
  border-style:none;
  font-size: 15px;

  margin-left:10px;
  margin-right: 10px;

  width: 50px;
}
.btn:hover{
  background: #bca136;
}
