<!--
Created on: Friday December 17th of January 2020
Author: Daniel Cortild (https://github.com/DanielCortild)
-->

<!doctype html>
<html>

  <head>
      <title>TicTacToe</title>
      <meta charset="utf-8">

      <!-- Import of external scripts -->
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>

      <script src="javascripts/jquery-3.4.1.js"></script>

      <!-- Linked files should be placed in ./public,
        but should be referenced without the ./public-->
      <link rel="icon" href="images/logo.png">

      <script src="javascripts/import_bundle.js"></script>
      <script src="javascripts/onload.js"></script>
      <script src="javascripts/onclick.js"></script>
      <script src="javascripts/moves.js"></script>
      <script src="javascripts/game.js"></script>

      <link rel="stylesheet" href="stylesheets/styles.css" type="text/css">

  </head>

  <body>

      <div class="container" id="outer">

          <div id="mainTitle">TicTacToe</div>

          <div id="options">
            <div>
              <select class="selection" id="gridsize"></select>
            </div>
            <div>
              <select class="selection" id="agent"></select>
            </div>

            <div id="chooser" align="center">
                <button class="button chooser" id="X_chooser" onclick="XChoose()">X</button>
                <button class="button chooser" id="O_chooser" onclick="OChoose()">O</button>
            </div>

            <div class="buttons">
              <button class="button button2" id="playbutton" onclick="startClick()">Play</button>
            </div>
          </div>

          <div id="game">
            <div class="buttons">
              <button class="button button3" id="playbutton" onclick="restartClick()">RePlay</button>
              <button class="button button3" id="reconfbutton" onclick="reconfigClick()">ReConf</button>
            </div>
          </div>

          <div id="result"></div>

      </div>

  </body>

</html>
