<!--
Created on: Friday December 17th of January 2020

Author: Daniel Cortild (https://github.com/DanielCortild)

TicTacToe HTML
-->

<!doctype html>
<html>

  <head>
      <title>TicTacToe</title>
      <meta charset="utf-8">

      <!-- Import of external scripts -->
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis@1.0.2/dist/tfjs-vis.umd.min.js"></script>

      <!-- Linked files should be placed in ./public,
        but should be referenced without the ./public-->
      <link rel="icon" href="images/logo.png">
      <script src="javascripts/scripts.js"></script>
      <script src="javascripts/move.js"></script>
      <link rel="stylesheet" href="stylesheets/styles.css" type="text/css">

  </head>

  <body>

      <div class="container" id="outer">

          <div id="mainTitle">TicTacToe</div>

          <div class="row" id="chooser" align="center">

              <button class="chooser" id="X_chooser" onclick="XChoose()">X</button>

              <button class="chooser" id="O_chooser" onclick="OChoose()">O</button>

          </div>

          <div id="game">

              <div class="row">
                  <button class="squares" id="c0"></button>
                  <button class="squares" id="c1"></button>
                  <button class="squares" id="c2"></button>
              </div>

              <div class="row">
                  <button class="squares" id="c3"></button>
                  <button class="squares" id="c4"></button>
                  <button class="squares" id="c5"></button>
              </div>

              <div class="row">
                  <button class="squares" id="c6"></button>
                  <button class="squares" id="c7"></button>
                  <button class="squares" id="c8"></button>
              </div>

          </div>

          <div id="result">

          </div>

      </div>

  </body>

</html>
