/*
Created on: Friday December 17th of January 2020

Author: Daniel Cortild (https://github.com/DanielCortild)

TicTacToe CSS
*/

body{
  background:#0d3d56;
  color:white;
}
#outer{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

#mainTitle{
  font-size:50px;
}

#chooser{
  padding-top:20px;
  display: inline-block;
  margin-bottom: -20px;
}
.chooser{
  color: white;
  background: #d3b53d;

  border-style:none;

  font-size: 15px;

  margin-left:10px;
  margin-right: 10px;
  margin-bottom: 0px;

  width: 50px;
  height: 30px;

  border-radius: 5px;
}
.chooser:hover{
  background: #bca136;
}


#game{
  height:300px;
  width:300px;

  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
}
.row{
  height:100px;

  margin-left:auto;
  margin-right:auto;

  display:flex;
}
.squares{
  border-style:solid;
  height:100px;
  width: 100px;

  font-size: 70px;
  background: #d3b53d;
  color: white;
}
.squares:hover{
  background: #bca136;
}
#c0{
  border-top-left-radius: 10px;
}
#c2{
  border-top-right-radius: 10px;
}
#c6{
  border-bottom-left-radius: 10px;
}
#c8{
  border-bottom-right-radius: 10px;
}

#result{
  padding-top: 30px;
  font-size: 30px;
}
