/*
Created on: Friday December 17th of January 2020
Author: Daniel Cortild (https://github.com/DanielCortild)

TicTacToe CSS
*/

body{
  background:#0d3d56;
  color:white;
}
#outer{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
}

#mainTitle{
  font-size:50px;
}

.clicker{
  height: 30px;
  margin: 8px auto;
  font-size: 18px;
  color: #686868;
  background-color: #d3b53d;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}
.clicker:hover{
  background: #bca136;
}
.fullwid {
  width: 70%;
}
.halfwid{
  margin-right: 4%;
  margin-left: 4%;
  padding: 0;
  width: 30%;
  border-radius: 5px;
  cursor: pointer;
  border-color: red;
}

#game{
  height:300px;
  width:300px;

  margin: 6px auto;

  opacity: 0;
}
.row{
  height:100px;

  margin-left:auto;
  margin-right:auto;

  display:flex;
}
.squares{
  border-style:solid;
  height:100px;
  width: 100px;

  font-size: 70px;
  background: #d3b53d;
  color: white;
}
.squares:hover{
  background: #bca136;
}

#result{
  padding-top: 30px;
  font-size: 30px;
}
